
.array-bar {
    width: 2.35px;
    display: inline-block;
    margin: 0 1px;
}

.array-contain {
    position: absolute;
    left:100px;
}

body{
background-color: black;
}

.button {
    font-size: 20px;
    background-color:#361d32;
    color:#f1e8e6;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease; 
}
  
.button:hover {
    background-color:#543c52;
}
  
.button:active {
    transform: translateY(3px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.buttonBox{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    gap: 100px;
    border: 2px solid rgba(84, 60, 82, 0.5);
    border-radius: 8px; 
    background: linear-gradient(to bottom,rgba(237, 210, 203, 0.7),rgba(237, 210, 203, 0.9));
    position: absolute;
    top: 7%; 
    left: 0; 
    width: 100%; 
    transform: translateY(-50%); 
    box-sizing: border-box;
}

.customSlider {
    width: 10%;
    height: 10px; 
    background:#543c52;
    border: none;
    border-radius: 75px; 
    outline: none;
    appearance: none; 
  }

  .customSlider::-webkit-slider-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(121, 105, 105); 
    border: none;
    border-radius: 70%; 
    cursor: pointer;
  }

  .description{
    font-size: 20px;
  }
