.ArrayBar {
  display: flex;
  padding: 10px;
  gap: 100px;
  border: 2px solid rgba(84, 60, 82, 0.5); 
  border-radius: 8px; 
  justify-content: center;
  background: linear-gradient(to bottom,rgba(242, 235, 235, 0.2),rgba(242, 235, 235, 0.5));
}

.App{
  background: linear-gradient(to bottom,rgba(247, 215, 215, 0.5),rgba(247, 215, 215, 0.7));
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color:#3C1874;
}

.App.dark-mode{
  background: linear-gradient(to bottom,rgba(34, 40, 49, 0.8),rgba(34, 40, 49, 1));  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color:#222831;
}

.button {
  background-color:#932432;
  color:#F3F3F3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.button:hover {
  background-color:#DE354C;
}

.button:active {
  transform: translateY(3px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.button2 {
  background-color:#3C1874;
  color:#F3F3F3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.button2:hover {
  background-color:#6630ba;
}

.button2:active {
  transform: translateY(3px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.custom-range {
  width: 20%;
  height: 10px; 
  background: rgba(84, 60, 82, 0.5);
  border: none;
  border-radius: 5px; 
  outline: none;
  appearance: none; 
}

.custom-range::-webkit-slider-thumb {
  width: 20px; 
  height: 20px; 
  background-color:#932432; 
  color:
  border: none;
  border-radius: 50%; 
  cursor: pointer;
}
